.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageContainer {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  padding: 15px;
}

.name {
  font-size: 20px;
  margin: 0 0 10px;
  color: #333;
  height: 50px;
  overflow: hidden;
}

.description {
  font-size: 14px;
  color: #777;
  margin: 0 0 10px;
  height: 50px;
  overflow-y: auto;
}

.quantity {
  font-size: 14px;
  color: #555;
  margin: 0 0 10px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.discountedPrice {
  color: #e60000;
  margin-right: 10px;
}

.originalPrice {
  text-decoration: line-through;
  color: #999;
}

.controlPanel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #eaeaea;
  background-color: #f9f9f9;
  margin-top: 10px;
}

.controlPanelWrap {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.increaseButton,
.decreaseButton,
.deleteButton {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.increaseButton:hover,
.decreaseButton:hover,
.deleteButton:hover {
  background-color: #005bb5;
}

.deleteButton {
  background-color: #e53e3e;
}

.deleteButton:hover {
  background-color: #c53030;
}

.quantity {
  margin: 0;
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
}
